@page "/dvdrental"
@attribute [StreamRendering]
@using Npgsql;
@using Dapper;
@using System.Data

<PageTitle>DVD Rental</PageTitle>

<h1>DVD Rental</h1>

<p>This component demonstrates grabbing data from PostgreSQL Server.</p>

@if (films == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Length</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var film in films)
            {
                <tr>
                    <td>@film.title</td>
                    <td>@film.length</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Film>? films;
    private IDbConnection connection;

    protected override async Task OnInitializedAsync()
    {
        connection = new NpgsqlConnection("Host=localhost:5432;Username=postgres;Password=password;Database=dvdrental");
        films = new List<Film>();
        foreach(Film f in connection.Query<Film>("SELECT title, length FROM film LIMIT 20")) films.Add(f);
    }

    private class Film
    {
        public string title { get; set; }
        public int length { get; set; }
    }
}
