@page
@using SuperMovies.Models
@model UpdateModel
@{
    
}

<h3 class="text-center">Update Movie</h3>

<div class="container">
    <form method="post">
    <input type="hidden" asp-for="UpdateMovie.Id">
        <div class="row justify-content-md">
            <label asp-for="UpdateMovie.Title" class="control-label"></label>
            <input asp-for="UpdateMovie.Title" />
            <span asp-validation-for="UpdateMovie.Title" class="text-danger"></span>

            <br>

            <label asp-for="UpdateMovie.Description" class="control-label"></label>
            <input asp-for="UpdateMovie.Description" />
            <span asp-validation-for="UpdateMovie.Description" class="text-danger"></span>

            <br>

            <label asp-for="UpdateMovie.Length_Minutes" class="control-label"></label>
            <input asp-for="UpdateMovie.Length_Minutes" />
            <span asp-validation-for="UpdateMovie.Length_Minutes" class="text-danger"></span>

            <br>

            <input type="submit" value="Update Movie" class="btn btn-success" />

        </div>
    </form>
</div>